{#
/**
 * @file
 * Latest Articles template.
 *
 * Available variables:
 * - form: A form with articles items.
 */
#}

<div class="latest-articles-block">
  <div class="latest-articles-content">
    {{ form }}
  </div>
</div>
